language: python
python:
- '3.6'
addons:
  apt:
    packages:
    - texlive-latex-base
install:
- pip install -r requirements.txt
script:
- python manage.py test
deploy:
  provider: pypi
  user: weinbusch
  password:
    secure: SlVuckaeEqR7yQd5GJFBQun4mvvdBztcQaXLJNYDG5AXsLA2e/Ld6xvgMkpWy+0sTpPFCEo5xq/7aDUpTURLfgvi/9//F7MJU0baiulfH1UnodA6vGPuQTW6xWzB9e4n7bqZqkqAgITj8ftd13s28rGCldgL37cBuOPOUaeUc33PzS2r8CsLPjEfGEicbN6AGDGc5PBiUD0UyoRoPPiB5t14Q5lzKiu6jHg32NZ6BnPcVbtIy+iWFUp0fH/8wNNhlWh7q+JnrjO0eO3D8CEUeA6ZCS2mbgvBAQ9tlcyLWV8xdR2G1gMMXuuv2pBTN/gNrXXANxkhG7X9Ro1Y7imBe65D94B325AiUJUZhCmmncCHouYxwcLGxLbYbl2PoHwSlyuosAuINLkFqWSbWY7lNZwIM9UPGnG7YSF4CC3V6CTkQz/LcJdjXdQ60DUY4DXrfIg1cxeKgUgojsegev0ISQaKnfXtoRHWugonpuf6SNwc8b6U5dY62tTmfAzrWajYNuyOrn0vxfnYHcbPqiyEKoGBP02Eby6q7HedYXufr6T6QDf66ZVVdnOcDrt7lg/foBcK6YWAtYzZ891Am5nY3FVVN2OvSxRyACqLKrl6BBlLtBwCkh8xJzhBLfqee+DxEhtwWUAML8eE0+0Ulvgii6X75KcMC2+TqNxM/etBY30=
  on:
    tags: true
  server: https://test.pypi.org/legacy/
